<!--this file represent the dropwdonw menu for select years and class-->
<!--it's on right-top-->
<div class="right menu">
    <div class="ui dropdown item">
        Classi <i class="dropdown icon"></i>
        <div class="menu">
            <%for(var classe in sessione){%>
            <div class="ui dropdown item">
                <%=classe.substring(0, 1) + classe.substring(1).toLowerCase();%>
                <i class="dropdown icon left"></i>

                <div class="menu left">
                <%for(var anno in sessione[classe]){%>
                    <a class="item"><%=sessione[classe][anno].anno_scolastico%></a>
                <%}%>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>
