<!--this file represent the dropwdonw menu for select years and class-->
<!--it's on right-top-->
<div class="right menu">
    <div class="ui floating labeled icon dropdown item" id="classi-anno">
        <span class="text"> <%= sessioneIniziale.annoScolastico%> </span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <%for(var classe in dropdown){%>
            <div class="ui dropdown item" id="<%= classe.substring(0, 1) + classe.substring(1).toLowerCase(); %>">
                <i class="dropdown icon left"></i>
                <%= classe.substring(0, 1) + classe.substring(1).toLowerCase(); %>

                <div class="menu left">
                    <% for(var anno in dropdown[classe]){ %>
                    <a class="item"><%= dropdown[classe][anno].anno_scolastico %></a>
                    <% } %>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#classi-anno").dropdown({
            onChange: function (val, id, element) {
                changeYearAndCLass(val, element.parent('div').closest('.ui.dropdown.item').attr("id").toUpperCase(),false)
            }
        });
    });
</script>