<% include header %>
<body>
<!--this is necessary because import the sidebar-->
<% include sidebar-start.ejs %>
<!--put your content here -->

    <p>
        Put your content here example!
    </p>
<!--this is necessary because i close tah and import some script-->
<% include sidebar-stop.ejs%>
