<!-- views/header.ejs -->
<!doctype html>
<html>
<head>
    <title> <%= pageTitle %> </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="icons/logo_marconi_cc.ico"/>
    <!--css-->
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--table css-->
    <link rel="stylesheet" href="bower_components/datatables.net-se/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="css/buttons.semanticui.min.css">


    <link href="css/roboto.css" rel="stylesheet">

    <!--notify-->
    <link rel="stylesheet" href="css/alertify.min.css"/>
    <link rel="stylesheet" href="css/semantic.min.css"/>


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic/dist/semantic.min.js"></script>
    <script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="bower_components/datatables.net-se/js/dataTables.semanticui.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/doublescroll.js"></script>
    <script src="js/chart/chart.js"></script>
    <script src="js/chart/chart.bundle.min.js"></script>


    <!--table js-->
    <script src="bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="js/buttons.semantic.min.js"></script>
    <!--finish table js-->

    <!--menu-->
    <link href="css/jquery.contextMenu.css" rel="stylesheet"/>
    <link href="css/font/fontawesome-webfont.woff2" rel="application/font-woff2"/>
    <script src="js/jquery.contextMenu.js"></script>


    <!--notify-->
    <script src="js/alertify.min.js"></script>



</head>
