<!-- views/header.ejs -->
<!doctype html>
<html>
<head>
    <title> <%= pageTitle %> </title>



    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic/dist/semantic.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.13/js/dataTables.semanticui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/doublescroll.js"></script>

    

    <!--table js-->
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.semanticui.min.js"></script>
    <!--finish table js-->


    <!--css-->
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
    <link rel="https://cdn.datatables.net/1.10.13/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!--table css-->
    <link rel=" https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <link rel="https://cdn.datatables.net/1.10.13/css/dataTables.semanticui.min.css">
    <link rel="https://cdn.datatables.net/buttons/1.2.4/css/buttons.semanticui.min.css">


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">

</head>
