<% include header %>

<body >
<% include sidebar-start.ejs %>



<table id="example" class="ui celled table">
    <thead>
        <tr>
            <th>cognome</th>
            <th>nome</th>
            <th>cf</th>
            <th>sesso</th>
            <th>data_di_nascita</th>
            <th>stato</th>
            <th>cap_provenienza</th>
            <th>anno_scolastico</th>
            <th>anno</th>
            <th>cod_cat</th>
            <th>media_voti</th>
            <th>classe_futura</th>
        </tr>
    </thead>
</table>

<% include sidebar-stop.ejs%>
<!--personal script for specific page -->
<script>

  <!--https://datatables.net/extensions/buttons/examples/styling/semanticui.html-->
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            lengthChange: false,
            buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],
            "processing": true,
            "ajax": {
                "url": "studenti-prima-json",
                "dataSrc": ""
            },
            "columns": [
                { "data": "cognome" },
                { "data": "nome" },
                { "data": "cf" },
                { "data": "sesso" },
                { "data": "data_di_nascita" },
                { "data": "stato" },
                { "data": "cap_provenienza" },
                { "data": "anno_scolastico" },
                { "data": "anno" },
                { "data": "cod_cat" },
                { "data": "media_voti" },
                { "data": "classe_futura" }
            ]
        } );

        table.buttons().container()
            .appendTo( $('div.eight.column:eq(0)', table.table().container()) );
    } );
</script>
<!--close html tag-->
<% include tag-close.ejs%>
