<% include header %>

<body >
<% include sidebar-start.ejs %>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>cognome</th>
        <th>nome</th>
        <th>cf</th>
        <th>sesso</th>
        <th>data_di_nascita</th>
        <th>stato</th>
        <th>cap_provenienza</th>
        <th>scelta_indirizzo</th>
        <th>anno_scolastico</th>
        <th>anno</th>
        <th>cod_cat</th>
        <th>media_voti</th>
        <th>classe_futura</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>cognome</th>
        <th>nome</th>
        <th>cf</th>
        <th>sesso</th>
        <th>data_di_nascita</th>
        <th>stato</th>
        <th>cap_provenienza</th>
        <th>scelta_indirizzo</th>
        <th>anno_scolastico</th>
        <th>anno</th>
        <th>cod_cat</th>
        <th>media_voti</th>
        <th>classe_futura</th>



    </tr>
    </tfoot>
</table>

<% include sidebar-stop.ejs%>
<!--personal script for specific page -->
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "processing": true,
            "ajax": {
                "url": "studenti-prima-json",
                "dataSrc": ""
            },
            "columns": [
                { "data": "cognome" },
                { "data": "nome" },
                { "data": "cf" },
                { "data": "sesso" },
                { "data": "data_di_nascita" },
                { "data": "stato" },
                { "data": "cap_provenienza" },
                { "data": "scelta_indirizzo" },
                { "data": "anno_scolastico" },
                { "data": "anno" },
                { "data": "cod_cat" },
                { "data": "media_voti" },
                { "data": "classe_futura" }
            ]
        } );
    } );
</script>
<!--close html tag-->
<% include tag-close.ejs%>
