<% include header %>
<body class="pageBackground">
    <div class="container">
        <div class="ui equal width center aligned padded grid">
            <div class="row">
                <div class="column">
                <h1 class="robotoWhiteTitle">
                    Composizione classi
                </h1>
                </div>
            </div>
            <p style="color: white">Login or Register with:</p>
            <div class="row">
                <div class="column">
                    <div class="ui large buttons">
                        <a href="/login" class="ui button"><span class="fa fa-user"></span> Local Login</a>
                        <div class="or"></div>
                        <a href="/signup" class="ui button"><span class="fa fa-user"></span> Local Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment form-page" align="center">
        <div class="ui grid container">
            <div class="four wide column"><div>
                    <strong>ITIS G. Marconi Verona</strong>
                    <hr>
                    <address>
                        P.le R. Guardini 1<br>
                        Verona, IT 37138<br>
                        Tel: +39 045 8101428<br>
                        Fax: +39 045 573497<br>
                        Mail: <a href="mailto:vrtf03000v@pec.istruzione.it" target="blank">vrtf03000v@pec.istruzione.it</a><br>
                        Site: <a href="http://www.marconiverona.gov.it/" target="blank">marconiverona.gov.it</a>
                    </address>
                </div></div>
            <div class="four wide column"><div>
                    <strong>Altri progetti</strong>
                    <hr>
                    <address>
                        <strong>Campus</strong> <a href="http://campus.marconivr.it" target="blank">campus.marconivr.it</a><br>
                        <strong>Portale</strong> <a href="http://portal.marconivr.it/" target="blank">portal.marconivr.it</a><br>
                        <strong>OpenData</strong> <a href="http://opendata.marconivr.it/" target="blank">opendata.marconivr.it</a><br>
                        <strong>Poldo</strong> <a href="http://marconi.hofa.me" target="blank">marconi.hofa.me</a><br>
                        
                    </address>
                </div></div>
            <div class="four wide column"><div>
                    <strong>Composizione Classi website</strong>
                    <hr>
                    <address>
                        <strong>Team</strong><br>
                        Andrea Cerretti </br> Mattia Corradi </br> Michele Dalla Chiara </br> Alberto Strina </br> Francesco Taioli </br> © 2016-2017
                    </address>

                </div></div>
            <div class="four wide column"><img src="img/logo_footer.png"></div>
        </div>
    </div>
</body>
</html>