<% include header %>
<body>

<% include sidebar-start.ejs %>
<% include finish-menu.ejs %>
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Inserisci studenti da un csv</h2>

        <form method="post" enctype="multipart/form-data" action="<%= endpoint.alunni.uploadAlunniCsv %>">
            <input type="text" name="anno_scolastico"><!--todo fa fatto bene-->
            <input type="file" name="csv">
            <input type="submit">
        </form>
    </div>
<% include sidebar-stop.ejs%>
<!--personal script for specific page -->

<script>


</script>


<!--close html tag-->
<% include tag-close.ejs%>