<% include header %>

<style>


    .app {
        margin: 5px 5px 5px 5px;
        padding: 5px;
        border: 1px solid #2B2B33;
        border-radius: 5px;
        cursor: move;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
    }


    .container {
        overflow-x: scroll;
        display:table;
        white-space:no-wrap;
    }


    .tr {
        display:table-row;
        border: 10px;
    }

    .apps-container {
        display:table-cell;
        border: 1px solid black;
        width: auto;
    }

    


</style>

<% include sidebar-start.ejs %>

<div id="double-scroll">
<div class="container" ng-app="sortableApp" ng-controller="sortableController">

    <div class="tr">
            <div ng-repeat="classe in studentsData" ui-sortable="sortableOptions" class="apps-container" ng-model="classe.alunni">
                {{classe.nome}}




                <div class="app" ng-repeat="studente in classe.alunni">

                    {{studente.cognome}} <br> {{studente.nome}}
                </div>
            </div>
    </div>

</div>

</div>




<% include sidebar-stop.ejs%>
<!--personal script for specific page -->

<!--close html tag-->
<% include tag-close.ejs%>




<br>
<br>
<br>



<script>
    $(document).ready(function(){
        $('#double-scroll').doubleScroll();
    });
</script>

