<% include header %>

<script src="js/panoramica-classi.js"></script>

<style>
    /*proprietà per il dropdown della nazionalità da implementare*/
    /*
    .ui.menu .item::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: rgba(255, 255, 255, 0.1);
    }
*/
    .contenitoreClasse {
        list-style-type: none;
        padding-right: 10px !important;

    }

    .contenitoreClasse li {
        margin: 0 5px 5px 5px;
        width: 100%;

    }

    .studenteItem {
        width: 120px;
    }

    .wrapperClasse {
        display: table-cell;
        border: 1px solid #eee;
        border-radius: .28571429rem;

    }

    #wrapper {
        overflow-x: scroll;
        padding-left: 10px;
        overflow-y: hidden;
    }

    .table {
        display: table;
    }

    .tr {
        display: table-row;
    }

    .wrapperSettingClasse {
        height: 350px;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .ui.menu {
        border: none;
    }

    .ui.menu .item>.floating.label{
        z-index: 0;
    }

    .ui.floating.label{
        z-index: 0;
    }

    .bocciato{
        border-color: #9c1500 !important;
        border-style: solid!important;
        border-width: 5px!important;
    }
</style>


<% include sidebar-start.ejs %>

<div id="selezioneClassi" class="ui labeled icon menu">
    <!--filter and settings-->
    <div class="ui dropdown settings item notSelectable">
        <span class="ui tiny header">Filtri</span>
       <!-- <i class="dropdown icon "></i>  occupa tanto spazio -->
        <div class="menu" style="width: 10%">
            <div class="ui mini header">Download</div>
            <div class="divider"></div>
            <div class="item">Scarica excel</div>
            <div class="divider"></div>
            <div class="ui mini header">Filtri</div>
            <div class="item">
                <i class="dropdown icon"></i>
                Voto
                <div class="menu">
                    <div class="list">
                        <div class="item">
                            <div class="ui  child checkbox voto">
                                <input type="checkbox" name="6">
                                <label><a class="ui circular label mini"
                                          style="background-color: #FFCC80!important;">6</a></label>

                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child   checkbox voto">
                                <input type="checkbox" name="7">
                                <label><a class="ui circular label mini"
                                          style="background-color: #E6EE9C!important;">7</a></label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox voto">
                                <input type="checkbox" name="8">
                                <label><a class="ui circular label mini"
                                          style="background-color: #D4E157!important;">8</a></label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox voto">
                                <input type="checkbox" name="9">
                                <label><a class="ui circular label mini"
                                          style="background-color: #C5E1A5!important;">9</a></label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox voto">
                                <input type="checkbox" name="10">
                                <label><a class="ui circular label mini"
                                          style="background-color: #AED581!important;">10</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--nazionalita-->
            <div class="item">
                <i class="dropdown icon"></i>
                Nazionalità
                <div class="menu">
                    <div class="list" id="nazionalita-menu" style="width:10%; border-color:white !important;">

                    </div>
                </div>
            </div>
            <!--desiderata-->
            <div class="item">
                <i class="dropdown icon"></i>
                Desiderata
                <div class="menu">
                    <div class="list">
                        <div class="item">
                            <div class="ui child checkbox desiderata">
                                <input type="checkbox" name="desiderata-not-respected">
                                <label>Desiderata non rispettato</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--bocciati-->
            <div class="item">
                <i class="dropdown icon"></i>
                Bocciati
                <div class="menu">
                    <div class="list">
                        <div class="item">
                            <div class="ui child checkbox bocciati">
                                <input type="checkbox" name="bocciati">
                                <label>Bocciati</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contenitoreCheckBox" class="item notSelectable" >
        <div id="checkBox" class="ui toggle checkbox">
            <input id="check" type="checkbox" name="public" checked>
            <label>Mostra tutte</label>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="table">
        <div id="rowForInsertClasses" class="tr">


        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<!--modal response -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        <span id="cognome"></span>
        <span id="nome"></span>
    </div>
    <div class="image content">
        <div class="ui medium image">
            <div class="ui card">
                <div class="content">
                    <div class="header" id="nome-cognome"></div>
                </div>
                <div class="content">
                    <h4 class="ui sub header" id="anno-nascita">Activity</h4>
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <span> Nazionalità : <span id="nazionalita"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <p><span id="richiesta"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <div class="summary">
                                    <a>Helen Troy</a> added two pictures
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui button">Join Project</button>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="ui header">Dati</div>

            <!--table-->
            <table class="ui very basic collapsing celled table">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Dato</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <div class="content">
                                <b>Media voti </b>
                            </div>
                        </h4>
                    </td>
                    <td>
                        <span id="media-voti"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <div class="content">
                                <b>Codice catastale </b>

                            </div>
                        </h4>
                    </td>
                    <td>
                        <span id="codice-catastale"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <div class="content">
                                <b>Codice fiscale </b>

                            </div>
                        </h4>
                    </td>
                    <td>
                        <span id="cf"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <div class="content">
                                <b>Anno scolastico </b>

                            </div>
                        </h4>
                    </td>
                    <td>
                        <span id="anno-scolastico"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Chiudi
        </div>
        <div class="ui positive right labeled icon button">
            OK,fatto
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<% include sidebar-stop.ejs %>


<!--close html tag-->
<% include tag-close.ejs %>
