<% include header %>

<script src="js/panoramica-classi.js"></script>

<style>
    .contenitoreClasse {
        list-style-type: none;
        padding-right: 10px !important;

    }

    .contenitoreClasse li {
        margin: 0 5px 5px 5px;
        width: 100%;

    }

    .studenteItem {
        width: 120px;
    }

    .wrapperClasse {
        display: table-cell;
        border: 1px solid #eee;
        border-radius: .28571429rem;
    }

    #wrapper {
        overflow-x: scroll;
        padding-left: 10px;
        overflow-y: hidden;
    }

    .table {
        display: table;
    }

    .tr {
        display: table-row;
    }

    .wrapperSettingClasse {

    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .ui.menu {
        border: none;
    }

    .ui.menu .item>.floating.label{
        z-index: 0;
    }
</style>


<% include sidebar-start.ejs %>

<div id="selezioneClassi" class="ui labeled icon menu">
    <!--filter and settings-->
    <div class="ui dropdown settings item notSelectable">
        <span class="ui tiny header">Filtri</span>
       <!-- <i class="dropdown icon "></i>  occupa tanto spazio -->
        <div class="menu">
            <div class="item">Boo</div>
            <div class="divider"></div>
            <div class="ui mini header">Filtri</div>
            <div class="item">
                <i class="dropdown icon"></i>
                Voto
                <div class="menu">
                    <div class="list">
                        <div class="item">
                            <div class="ui  child checkbox voto">
                                <input type="checkbox" name="6">
                                <label>6 &nbsp</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child   checkbox voto">
                                <input type="checkbox" name="7">
                                <label>7 &nbsp</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox voto">
                                <input type="checkbox" name="8">
                                <label>8 &nbsp</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox voto">
                                <input type="checkbox" name="9">
                                <label>9 &nbsp</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox voto">
                                <input type="checkbox" name="10">
                                <label>10</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--nazionalita-->
            <div class="item">
                <i class="dropdown icon"></i>
                Nazionalità
                <div class="menu">
                    <div class="list">
                        <div class="item">
                            <div class="ui child checkbox nazionalita">
                                <input type="checkbox" name="Italiana">
                                <label>Italiana</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child   checkbox nazionalita">
                                <input type="checkbox" name="Romena">
                                <label>Romena</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox nazionalita">
                                <input type="checkbox" name="Albanese">
                                <label>Albanese</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox nazionalita">
                                <input type="checkbox" name="Cingalese">
                                <label>Cingalese</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox nazionalita">
                                <input type="checkbox" name="Senegalese">
                                <label>Senegalese</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox nazionalita">
                                <input type="checkbox" name="Moldava">
                                <label>Moldava</label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui child  checkbox nazionalita">
                                <input type="checkbox" name="Nigeriana">
                                <label>Nigeriana</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--desiderata-->
            <div class="item">
                <i class="dropdown icon"></i>
                Desiderata
                <div class="menu">
                    <div class="list">
                        <div class="item">
                            <div class="ui child checkbox desiderata">
                                <input type="checkbox" name="desiderata-not-respected">
                                <label>Desiderata non rispettato</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contenitoreCheckBox" class="item notSelectable" >
        <div id="checkBox" class="ui toggle checkbox">
            <input id="check" type="checkbox" name="public" checked>
            <label>Mostra tutte</label>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="table">
        <div id="rowForInsertClasses" class="tr">


        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<% include sidebar-stop.ejs %>


<!--close html tag-->
<% include tag-close.ejs %>
