<% include header %>

<script src="js/panoramica-classi.js"></script>

<style>
    .contenitoreClasse{
        list-style-type: none;
    }

    .contenitoreClasse li{
        margin: 0 5px 5px 5px;
        padding: 5px;
        width: 120px;
    }

    .studenteItem{
        width: 120px;
    }

    .wrapperClasse{
        //border: 1px solid #eee;
        display:table-cell;
        //padding-right:45px;
    }

    #wrapper {
        overflow-x: scroll;
        padding-left: 10px;
        overflow-y: hidden;
    }

    .table {
        display:table;
    }

    .tr {
        display:table-row;
    }

    .wrapperSettingClasse{

    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

</style>


<% include sidebar-start.ejs %>

<div id="selezioneClassi" class="ui labeled icon menu">

    <div id="contenitoreCheckBox" class="item">
        <div id="checkBox" class="ui toggle checkbox">
            <input type="checkbox" name="public">
            <label>Mostra tutte</label>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="table">
        <div id="rowForInsertClasses" class="tr">




        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<% include sidebar-stop.ejs%>


<!--close html tag-->
<% include tag-close.ejs%>
