<% include header %>

<script src="js/panoramica-classi.js"></script>

<style>
    .contenitoreClasse{
        list-style-type: none;
        padding-right: 10px !important;

    }

    .contenitoreClasse li{
        margin: 0 5px 5px 5px;
        width: 100%;

    }

    .studenteItem{
        width: 120px;
    }
    .wrapperClasse{
        display:table-cell;
        border: 1px solid #eee;
        border-radius: .28571429rem;
    }

    #wrapper {
        overflow-x: scroll;
        padding-left: 10px;
        overflow-y: hidden;
    }

    .table {
        display:table;
    }

    .tr {
        display:table-row;
    }

    .wrapperSettingClasse{

    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


    .ui.menu{
        border: none;
    }
</style>


<% include sidebar-start.ejs %>

<div id="selezioneClassi" class="ui labeled icon menu">

    <div id="contenitoreCheckBox" class="item">
        <div id="checkBox" class="ui toggle checkbox">
            <input id="check" type="checkbox" name="public" checked>
            <label>Mostra tutte</label>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="table">
        <div id="rowForInsertClasses" class="tr">




        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="ui basic modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
    </div>
    <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>

<% include sidebar-stop.ejs%>


<!--close html tag-->
<% include tag-close.ejs%>
