<% include header %>

<style>


</style>


<% include sidebar-start.ejs %>


<div class="ui middle aligned animated list">
    <div class="item">
        <div class="content">
            <button class="circular ui icon button">
                 1 AI
            </button>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <button class="circular ui icon button">
                1 BI
            </button>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <button class="circular ui icon button">
                1 CI
            </button>
        </div>
    </div>
</div>


<% include sidebar-stop.ejs%>
<!--personal script for specific page -->

<!--close html tag-->
<% include tag-close.ejs%>
