<% include header %>

<script src="js/panoramica-classi.js"></script>

<style>
    .contenitoreClasse{
        list-style-type: none;
        padding-right: 10px !important;

    }

    .contenitoreClasse li{
        margin: 0 5px 5px 5px;
        width: 100%;

    }

    .studenteItem{
        width: 120px;
    }
    .wrapperClasse{
        display:table-cell;
        border: 1px solid #eee;
        border-radius: .28571429rem;
    }

    #wrapper {
        overflow-x: scroll;
        padding-left: 10px;
        overflow-y: hidden;
    }

    .table {
        display:table;
    }

    .tr {
        display:table-row;
    }

    .wrapperSettingClasse{

    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


    .ui.menu{
        border: none;
    }
</style>


<% include sidebar-start.ejs %>

<div id="selezioneClassi" class="ui labeled icon menu">

    <div id="contenitoreCheckBox" class="item">
        <div id="checkBox" class="ui toggle checkbox">
            <input id="check" type="checkbox" name="public" checked>
            <label>Mostra tutte</label>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="table">
        <div id="rowForInsertClasses" class="tr">




        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Profile Picture
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/images/avatar/large/chris.jpg">
        </div>
        <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com"
                                                             target="_blank">gravatar</a> image associated with your
                registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<% include sidebar-stop.ejs%>


<!--close html tag-->
<% include tag-close.ejs%>
