<% include header %>

<style>
    .contenitoreClasse{
        list-style-type: none;
    }

   .contenitoreClasse li{
        margin: 0 5px 5px 5px;
        padding: 5px;
        width: 120px;
        border: 1px solid #eee;
    }

   .wrapperClasse{
       border: 1px solid #eee;
       display:table-cell;
   }

    #wrapper {
        overflow-x: scroll;
        white-space:no-wrap;
    }

    .table {
        display:table;
    }

    .tr {
        display:table-row;
    }
</style>

<script>
    $( function() {
        $(".contenitoreClasse").sortable({
            connectWith: ".contenitoreClasse"
        }).disableSelection();
    } );

</script>

<% include sidebar-start.ejs %>


<div id="wrapper">
    <div class="table">
        <div id="rowForInsertClasses" class="tr">




        </div>
    </div>
</div>


    <script>
        $.ajax({
            url: '/get-classi-composte',
            data: {
                format: 'json'
            },
            error: function() {
                alert('error scaricamento dati');
            },
            dataType: 'json',
            success: function(listaClassi) {
                console.log(listaClassi);

                for (var i=0 ; i<listaClassi.length ; i++){
                    var nomeClasse = listaClassi[i].nome;
                    var proprieta = listaClassi[i].proprieta;
                    var arrayStudenti = listaClassi[i].alunni;

                    var wrapperClasse = $('<div/>', {
                        'class':'wrapperClasse',
                    }).appendTo('#rowForInsertClasses');

                    $('<h3/>').text(nomeClasse).appendTo(wrapperClasse);

                    var ulClasse = $('<div/>',{
                        'class':'ui vertical menu'
                    }).appendTo(wrapperClasse);

                    for (var prop in proprieta) {
                        if (prop != "residenza" && prop != "iniziale") {
                            var li = $('<div/>')
                                .addClass("ui info message")
                                .text(prop + ": " + proprieta[prop])
                                .appendTo(ulClasse);
                        }
                    }

                    var div = $('<ul/>',{
                        'class':'contenitoreClasse'
                    }).appendTo(wrapperClasse);

                    for (var j=0; j < arrayStudenti.length ; j++) {
                        if (arrayStudenti[j] !== undefined) {
                            var cognomeStudente = arrayStudenti[j].cognome;
                            var nomeStudente = arrayStudenti[j].nome;

                            var li = $('<li/>')
                                .addClass("ui-state-default")
                                .text(nomeStudente + ' ' + cognomeStudente)
                                .appendTo(div);
                        }
                    }
                }
            },
            type: 'GET'
        });
    </script>
<% include sidebar-stop.ejs%>
<!--personal script for specific page -->

<!--close html tag-->
<% include tag-close.ejs%>
