<% include header %>
<body>
<% include sidebar-start.ejs %>
<% include finish-menu.ejs %>
<div class="ui raised very padded text container segment">
    <div class="ui equal width center aligned padded grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    Pagina di configurazione
                </h1>
            </div>
        </div>
        <p>Scegliere se inserire le impostazioni delle classi prime o delle terze</p>
        <div class="row">
            <div class="column">
                <div class="ui large buttons">
                    <a href="/settings-prime" class="ui teal button"><span class="fa fa-user"></span>  Prima</a>
                    <div class="or"></div>
                    <a href="/settings-terze" class="ui blue button"><span class="fa fa-user"></span>  Terza</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include sidebar-stop.ejs%>
<% include tag-close.ejs%>n