</div>
</div>
<script>
    $('#left-menu').first()
            .sidebar('setting', {transition: 'overlay'})
            .sidebar('attach events', '.mobile-button')
    ;

    $('#top-menu')
            .sticky('refresh');

    $('#top-menu').css({
        top: '0px'
    })
</script>


<!--script for change tabs-->
<script>
    $('.menu .item').tab();
</script>

