<!--menu-->
<!--diritto 0 -> tutto-->
<!--diritto 1 -> tutto tranne creare utenti-->
<!--diritto 2 -> panoramica classi elenco studenti e export-->
<div class="ui inverted left vertical sidebar menu" id="left-menu">

    <a class="item" href="<%= endpoint.alunni.uploadAlunniCsv %>">Caricamento studenti</a>
    <a class="item" href="/studenti">Elenco Studenti</a>
    <a class="item" href="/settings">Configurazione</a>
    <a class="item" href="/panoramica-classi">Panoramica classi</a>
    <a class="item" href="/crea-utente">Crea un utente</a>
    <br>
    <a class="item" href="/logout">Disconnetti <%=user.username%></a>


</div>

<!--site content-->
<div class="pusher">

    <div class="ui sticky menu fixed top" id="top-menu" style="top:0px!important;">
        <a class="item mobile-button">Menu</a>

        <div class="right menu">
                    <div class="ui dropdown item">
                        Classi <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="ui dropdown item">
                                PRIME
                                <i class="dropdown icon left"></i>
                                <div class="menu left">
                                    <a class="item"> 2017-2018</a>


                                </div>
                            </div>
                            <div class="ui dropdown item">
                                TERZE
                                <i class="dropdown icon left"></i>
                                <div class="menu left">
                                    <a class="item">2017-2018</a>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
