<!--menu-->
<div class="ui inverted left vertical sidebar menu" id="left-menu">
    <a class="item" href="/insert-from-csv">Caricamento studenti</a>
    <a class="item" href="/studenti">Elenco Studenti</a>
    <a class="item" href="/settings">Impostazioni</a>
    <a class="item" href="/panoramica-classi">Panoramica classi</a>

</div>

<!--site content-->
<div class="pusher">

    <div class="ui sticky menu" id="top-menu">
        <a class="item mobile-button">Menu</a>
    </div>