<% include header %>
<body class="signupBackground">
<div class="ui middle aligned center aligned grid ">
	<div class="columnLogSign">
		<!-- show any messages that come back with authentication -->

		<form class="ui large form" action="/signup" method="post" >
			<div class="ui stacked segment">
				<h2 class="ui teal image header">
					<div class="content">
						Signup
					</div>
				</h2>
				<div class="field" id="field_user">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" placeholder="username">
					</div>
				</div>
				<div class="field" id="field_password">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>

				<button class="ui fluid large teal submit button" type="submit">Signup</button>
			</div>
		</form>

		<div class="ui message">
			Already have an account? <a href="<%= endpoint.utenti.login%>">Login</a>
		</div>

        <% if (message.length > 0) { %>
		<div class="ui negative message visible" id="negative"><%= message %></div>
        <% } %>
	</div>
</div>

</body>

</html>
