<% include header %>
<body class="signupBackground">
<div class="ui middle aligned center aligned grid ">
	<div class="column">
		<!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
        <% } %>
		<form class="ui large form" action="/signup" method="post" >
			<div class="ui stacked segment">
				<h2 class="ui teal image header">
					<div class="content">
						Signup
					</div>
				</h2>
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" placeholder="username">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>

				<button class="ui fluid large teal submit button" type="submit">Signup</button>
			</div>
		</form>

		<div class="ui message">
			Already have an account? <a href="/login">Login</a>
		</div>
	</div>
</div>

</body>

</html>
