<% include header %>
<body xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<% include sidebar-start.ejs %>
<% include finish-menu.ejs %>

<div id="row-tags">
    <p><%= tagAlunni[0].tag%></p>
    <p><%= tagAlunni[1].tag%></p>

</div>

<% include sidebar-stop.ejs%>
<% include tag-close.ejs%>