.pageBackground{
    background-image: url("../img/preview.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.map {
    height: 100%;
    width: 100%;
}
.signupBackground{
    background-image: url("../img/Classe.jpg");
}
.robotoWhiteTitle{
    font-family: Roboto, sans-serif;
    font-size: 2.7em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.64em;
    color: white;
    display: inline-block;
    margin-top: 2em;
    text-align: center;
    padding: 0.65em 0 0.65em 0.7em;
}

.column {
    max-width: 60%;
}

.columnLogSign {
    max-width: 19%;
    min-width: 19%;
    padding-top: 12%;
}

@media (min-height: 320px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

 body > .grid {
    height: 100%;
}
.girl{
    background-color: #da9ee0 !important;
    border-color: #DA9EE0 !important;
    color: #fff!important;
}

.guys{
    background-color: #3045E0 !important;
    border-color: #5579E0 !important;
    color: #fff!important;
}